<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error sequi quo tempore velit et aliquam aspernatur consectetur praesentium veniam eveniet corrupti labore nobis commodi, deleniti, optio corporis, explicabo voluptatibus totam doloribus! Pariatur quas incidunt, laudantium sed placeat reiciendis doloribus!</p>
    </div>
</div>