<div class="badge bg-light text-dark mt-4">
    
    <h1 class="dosplay-4">Notes App NodeJS and MongoDB</h1>

    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <hr class="my-4">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam culpa deleniti placeat et tenetur rerum voluptate similique qui. Nisi necessitatibus, nulla itaque sunt quaerat aspernatur quod. Pariatur quos provident odit.</p>

    <a href="http://www.gooogle.com" class="btn btn-primary rounded-pill btn-lg">GOOGLE</a>
    
</div>