    <footer class="text-center">
        <div class="fixed-bottom">
      <p>Martin Gigena <a href="https://github.com/martingigena/app-notes" target="_blank">GitHub</a>
      
      </div>
    </footer>
